
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "headfile.html" %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/password-reset.css' %}" />
  </head>
  <body>
    <div class="main-container">
      <div class="f-pass-content">
        <div class="f-pass-header">
          <h1>FORGOT PASSWORD <span class="arrow-icon">?</span></h1>
        </div>

        <div class="f-pass-form-container">
          {% if messages %}
          <div class="messages">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
          </div>
          {% endif %}

          <form
            id="passwordResetForm"
            method="post"
            action="{% url 'forgotPassword' %}"
          >
            {% csrf_token %}
            <div class="form-group">
              <label for="email">Enter your Email Address</label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Email Address:"
                required
              />
            </div>
          </form>
        </div>
        <div class="form-actions">
          <button type="submit" class="submit-button" form="passwordResetForm">
            RESET PASSWORD
          </button>
        </div>

        <div class="account-options">
          <button
            class="back-button"
            onclick="window.location.href='{% url 'login' %}'"
          >
            Back to Login
          </button>
        </div>
      </div>
    </div>

    {% include "footer.html" %}
  </body>
</html>
