{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "headfile.html" %}
    <!-- Additional meta tags specific to login page -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sky Score - Login</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  </head>
  <body>
    <div class="main-container">
      <div class="login-content">
        <div class="sign-in-header">
          <h1>User SIGN IN <span class="arrow-icon">➔</span></h1>
        </div>

        <div class="login-form-container">
          <!-- Display error messages here -->
          {% if messages %}
          <div class="messages">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
          </div>
          {% endif %}

          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}

            <div class="form-group">
              <label for="username">Enter your Username or Email Address</label>
              <input
                type="text"
                id="username"
                name="username"
                placeholder="Email Address or Username:"
                required
              />
            </div>

            <div class="form-group">
              <label for="password">Enter your Password</label>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Password:"
                required
              />
            </div>

            <div class="show-pass">
              <label for="show_password">
                <input
                  type="checkbox"
                  id="show_password"
                  class="show-password-checkbox"
                />
                Show Password
              </label>
            </div>

            <div class="form-actions">
              <button type="submit" class="submit-button">SIGN IN</button>
            </div>

            <div class="stay-signed-in">
              <label>
                <input type="checkbox" name="remember_me" /> Want to Stay Signed
                in?
              </label>
            </div>
          </form>
        </div>

        <div class="account-options">
          <button
            class="no-account-button"
            onclick="window.location.href='{% url 'signup' %}'"
          >
            Don't have an Account?
          </button>
          <button
            class="forgot-password-button"
            onclick="window.location.href='{% url 'forgotPassword' %}'"
          >
            Forgot Password?
          </button>
        </div>
      </div>
    </div>
    <script src="{% static 'js/user_script.js' %}"></script>
    {% include "footer.html" %}
  </body>
</html>
