{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "headfile.html" %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/reset-password.css' %}" />
  </head>
  <body>
    <div class="main-container">
      <!-- The header is included in headfile.html -->
       <div class ="f-pass-content">

      <div class="f-pass-header">
        <h1>RESET PASSWORD</h1>
      </div>

      <div class="f-pass-form-container">
        <!-- Display error messages here -->
        {% if messages %}
        <div class="messages">
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %}
        </div>
        {% endif %} {% if valid_token %}
        <form
          method="post"
          action="{% url 'resetPassword' uidb64=uidb64 token=token %}"
        >
          {% csrf_token %}

          <div class="form-group">
            <label for="new_password">New Password</label>
            <input
              type="password"
              id="new_password"
              name="new_password"
              placeholder="New Password:"
              required
            />
          </div>

          <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <input
              type="password"
              id="confirm_password"
              name="confirm_password"
              placeholder="Confirm Password:"
              required
            />
          </div>

          <div class="form-row">
            <div class="show-pass">
              <label for="show_password">
                <input
                  type="checkbox"
                  id="show_password"
                  class="show-password-checkbox"
                />

                Show Password</label
              >
            </div>
          </div>

          <div class="form-actions">
            <button type="submit" class="sign-in-button auth-button">
              SAVE NEW PASSWORD
            </button>
          </div>
        </form>
        {% else %}
        <div class="alert alert-error">
          <p>The password reset link is invalid or has expired.</p>
          <p>Please request a new password reset link.</p>
        </div>
        <div class="form-actions" style="margin-top: 30px">
          <a href="{% url 'forgotPassword' %}"
            class="submit-button">REQUEST NEW LINK </a>
        </div>
        {% endif %}
      </div>
    </div>

    {% include "footer.html" %}

    <script src="{% static 'js/password_reset.js' %}"></script>
  </body>
</html>
